body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  background-color: #666; /* Lighten the primary color by 20% */
  padding: 10px 0;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start; /* Align menu items to the left */
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 20px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; /* This centers the container horizontally */
}

.add-todo {
  display: flex;
  margin-top: 20px;
}

.add-todo select,
.add-todo input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.add-todo button {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #666;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .container {
    padding: 15px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    width: 95%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
    width: 100%;
  }
}
